body {
    background-color: bisque;
    width: 400px;
    right: 100px;
    margin: auto;
}

.card{
    color: gray;
    width: 500px;
    right: 500px;
    background-color: orange;
    margin-top: 10px;
    border-radius: 20px;
    
    
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 10px;

}

h2 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    padding-top: 10px;
    
}

p {
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    font-size: 20px;
    text-align: justify;
    


    
}