h1 {
    color: blue;
    font-family: 'Times New Roman';
    font-size: 80px;
    text-align: center;
    

}

p {
    font-weight: bold;
    font-style: italic;
    text-align: justify;
    text-decoration: underline;
    line-height: 2;
    letter-spacing: 2px;
}

a {
    text-decoration: none;
}